@import "tailwindcss";

@tailwind utilities;

@theme{
  --font-titles: 'titles-font', sans-serif;
}

@layer utilities {
    @keyframes scroll-down {
      0%, 100% { transform: translateY(0rem); opacity: 1; }
      35% { transform: translateY(1rem); opacity: 0; }
      70% { transform: translateY(-1rem); opacity: 0; }
    }
  
    .animate-scroll-down {
      animation: scroll-down 2s infinite;
    }
}


@font-face {
  font-family: 'titles-font';
  src: url('fonts/titles.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}