<div
  class="flex flex-col lg:flex-row items-center justify-center gap-12 max-w-6xl mx-auto"
>
  <div
    class="font-onest about-info text-gray-600 max-w-xl text-center lg:text-left"
  >
    <p class="text-lg mb-4 leading-relaxed">
      Entusiasta del <strong>desarrollo Full Stack</strong> con experiencia en la
      creación de aplicaciones web utilizando tecnologías como <strong
        >Next.js, NestJS y Spring Boot</strong
      >. Soy apasionado del aprendizaje continuo y la resolución de problemas a
      través del código, siempre buscando mejorar la eficiencia y escalabilidad
      de mis desarrollos.
    </p>
    <p class="text-lg mb-4 leading-relaxed">
      Además de la tecnología, disfruto jugar voleibol, un deporte que me ha
      enseñado la importancia del <strong>trabajo en equipo</strong>, la <strong
        >comunicación</strong
      > y la estrategia, habilidades que también aplico en el desarrollo de software
      y en la colaboración dentro de proyectos.
    </p>
  </div>
  <img
    class="about-image h-64 object-cover rounded-sm shadow-lg outline-4 outline-gray-300"
    src="/images/me.jpg"
    alt="Foto de mí"
  />
</div>
