---
import Github from "src/icons/Github.astro";
import LinkedIn from "src/icons/LinkedIn.astro";
import Mail from "src/icons/Mail.astro";
---

<footer class="flex justify-around container mx-auto text-center py-6">
  <p class="text-gray-500 text-sm">© 2025 - SebasHz. Algunos derechos reservados.</p>
  <div class="flex gap-4">
    <a href="https://www.linkedin.com/in/sebastian-hzag/">
      <LinkedIn class="w-6 h-6 fill-gray-500 hover:fill-gray-700 transition-colors" />
    </a>
    <a href="mailto:sebas.ismaelhz21@gmail.com">
      <Mail class="w-6 h-6 fill-gray-500 hover:fill-gray-700 transition-colors" />
    </a>
    <a href="https://github.com/SebastianHernandez69">
      <Github class="w-6 h-6 fill-gray-500 hover:fill-gray-700 transition-colors" />
    </a>
  </div>
</footer>