---

import { TECH_STACK } from "@/content/data"
---

<div class="grid grid-cols-3 gap-2 min-w-full">
  {TECH_STACK.map(({ section, data }) => (
    <>
      <div class="col-span-1 flex items-center justify-center">
        <h2 class="text-gray-500 text-3xl sticky-title font-titles tech-item">{section}</h2>
      </div>

      <div class="flex flex-wrap gap-3 mt-5 col-span-2 scroll-content p-2">
        {data.map(({ title, Icon }) => (
          <div class="inline-flex items-center gap-2 px-6 py-2 font-semibold max-h-12 tech-item">
            <Icon class="w-8 h-8" />
            <p class="text-gray-600 text-lg">{title}</p>
          </div>
        ))}
      </div>
    </>
  ))}
</div>